<div class="container">
  <h1>Which GoPro®s are compatible with Solo?</h1>
  <!-- faq content ITEM -->
    <div class="row faq-content">
      <div class="col-sm-12">
        <h3>GoPro® - HERO4 Black </h3>
        <ul>
          <li>
            <p>Supports video transmission </p>
          </li>
          <li>
            <p>Stabilization optimized without counterweights</p>
          </li>
          <li>
            <p>Start/Stop recording available via the 3DR Solo app if you download special firmware from GoPro®. It’s version v2.50.00 and has not yet been released to the public at this time. Latest public version is v2.00.00. (Check current version number on the GoPro® screen when you turn it on). </p>
          </li>
          <li>
            <p>Remaining GoPro® settings coming soon.</p>
          </li>
        </ul>

        <h3>GoPro® - HERO4 Silver</h3>
        <ul>
          <li>
            <p>Same capabilities as the GoPro® Hero 4 Black, but stabilization is optimized with the 4-silver counterweights included with the Gimbal</p>
          </li>
        </ul>

        <h3>GoPro® - HERO3+ Black</h3>
        <ul>
          <li>
            <p>Supports video transmission</p>
          </li>
          <li>
            <p>Stabilization optimized with HERO3+ Black counterweights included with the gimbal</p>
          </li>
          <li>
            <p>Start/Stop recording available via the 3DR Solo app with publicly released FW v3.00.00</p>
          </li>
          <li>
            <p>Remaining GoPro® settings coming soon</p>
          </li>
        </ul>

        <h3>GoPro® - HERO3+ Silver</h3>
        <ul>
          <li>
            <p>Supports video transmission</p>
          </li>
          <li>
            <p>Stabilization optimized with HERO3+ Silver counterweights included with the gimbal</p>
          </li>
          <li>
            <p>Start/Stop recording and other GoPro® control settings not available</p>
          </li>
        </ul>

        <h3>GoPro® - HERO3 Black or Silver</h3>
        <ul>
          <li>
            <p>Video transmission</p>
          </li>
          <li>
            <p>Will fit in the Solo Gimbal, but stabilization is not optimized for the weight of this camera</p>
          </li>
          <li>
            <p>Start/Stop recording and other GoPro® control settings not available</p>
          </li>
        </ul>

        <h3>Any other camera with HDMI-out</h3>
        <ul>
          <li>
            <p>Video transmission should work</p>
          </li>
          <li>
            <p>Not compatible with the Solo gimbal, but the Open Gimbal Bay is designed for third party innovation</p>
          </li>
        </ul>

      </div>
    </div>
  <!-- /faq content ITEM-->

</div>
