
  <div class="container">

    <!-- ROW ITEM -->
    <div class="row faq-item" ng-class="{active: isActive('/why-awesome')}">
      <div class="col-xs-10"> <p>Why awesome?</p></div>
      <div class="col-xs-2">
        <a href="#/why-awesome">
          <img class="arrow" src="img/angle-right.svg">
        </a>
      </div>
    </div>
    <!-- /ROW ITEM-->

    <!-- ROW ITEM -->
    <div class="row faq-item" ng-class="{active: isActive('/why-phu')}">
      <div class="col-xs-10"> <p>Why is Phu awesome?</p></div>
      <div class="col-xs-2">
        <a href="#/why-phu">
          <img class="arrow" src="img/angle-right.svg">
        </a>
      </div>
    </div>
    <!-- /ROW ITEM-->

  </div>
