<div class="container">

  <!-- ROW ITEM -->
  <a href="#/no-video">
    <div class="row faq-item" ng-class="{active: isActive('/no-video')}">
      <div class="col-xs-10 list-title"> <p>Why isn’t video streaming to my mobile device?</p></div>
      <div class="col-xs-2">
        <img class="arrow" src="img/angle-right.svg">
      </div>
    </div>
  </a>
  <!-- /ROW ITEM-->

  <!-- ROW ITEM -->
  <a href="#/waiting-for-gps">
    <div class="row faq-item" ng-class="{active: isActive('/waiting-for-gps')}">
      <div class="col-xs-10 list-title"> <p>Why am I having trouble getting a GPS connection?</p></div>
      <div class="col-xs-2">
        <img class="arrow" src="img/angle-right.svg">
      </div>
    </div>
  </a>
  <!-- /ROW ITEM-->

  <!-- ROW ITEM -->
  <a href="#/magnetic-interference">
    <div class="row faq-item" ng-class="{active: isActive('/magnetic-interference')}">
      <div class="col-xs-10 list-title"> <p>Why am I receiving magnetic interference alerts? </p></div>
      <div class="col-xs-2">
        <img class="arrow" src="img/angle-right.svg">
      </div>
    </div>
  </a>
  <!-- /ROW ITEM-->

  <!-- ROW ITEM -->
  <a href="#/range">
    <div class="row faq-item" ng-class="{active: isActive('/range')}">
      <div class="col-xs-10 list-title"> <p>It seems like I’m getting poor range. What am I doing wrong?</p></div>
      <div class="col-xs-2">
        <img class="arrow" src="img/angle-right.svg">
      </div>
    </div>
  </a>
  <!-- /ROW ITEM-->

  <!-- ROW ITEM -->
  <a href="#/go-pro">
    <div class="row faq-item" ng-class="{active: isActive('/go-pro')}">
      <div class="col-xs-10 list-title"> <p>What GoPro®s are compatible with Solo?</p></div>
      <div class="col-xs-2">
        <img class="arrow" src="img/angle-right.svg">
      </div>
    </div>
  </a>
  <!-- /ROW ITEM-->

  <!-- ADD MORE ITEMS-->

  <!-- /ADD MORE ITEMS-->

</div>
