<div class="container">

  <!-- ROW ITEM -->
  <div class="row faq-item" ng-class="{active: isActive('/no-video')}">
    <div class="col-xs-10 list-title"> <p>No video</p></div>
    <div class="col-xs-2">
      <a href="#/no-video">
        <img class="arrow" src="img/angle-right.svg">
      </a>
    </div>
  </div>
  <!-- /ROW ITEM-->

  <!-- ROW ITEM -->
  <div class="row faq-item" ng-class="{active: isActive('/waiting-for-gps')}">
    <div class="col-xs-10 list-title"> <p>Waiting for GPS</p></div>
    <div class="col-xs-2">
      <a href="#/waiting-for-gps">
        <img class="arrow" src="img/angle-right.svg">
      </a>
    </div>
  </div>
  <!-- /ROW ITEM-->

  <!-- ROW ITEM -->
  <div class="row faq-item" ng-class="{active: isActive('/magnetic-interference')}">
    <div class="col-xs-10 list-title"> <p>Magnetic Interference</p></div>
    <div class="col-xs-2">
      <a href="#/magnetic-interference">
        <img class="arrow" src="img/angle-right.svg">
      </a>
    </div>
  </div>
  <!-- /ROW ITEM-->

  <!-- ROW ITEM -->
  <div class="row faq-item" ng-class="{active: isActive('/range')}">
    <div class="col-xs-10 list-title"> <p>Range</p></div>
    <div class="col-xs-2">
      <a href="#/range">
        <img class="arrow" src="img/angle-right.svg">
      </a>
    </div>
  </div>
  <!-- /ROW ITEM-->

</div>
