<div class="container">
  <h1>Why am I receiving magnetic interference? </h1>
  <!-- faq content ITEM -->
    <div class="row faq-content">
      <div class="col-sm-12">
        <p>Solo has two internal compasses and an external compass nested in leg #04. Solo relies on these compasses to determine direction, and sometimes these compass readings can get thrown off by nearby metal objects or magnets that have gotten too close. If this is the case, you may receive a ‘Magnetic Interference’ alert. </p>
        <h3>To troubleshoot for magnetic interference:</h3>

        <ol>
          <li>
            <p>Nearby metal objects are the most likely causes of magnetic interference. If you have checked your surroundings and still can’t see any metal objects that could be causing the interference, try moving Solo to a new take-off location. Metal can sometimes be tough to spot, like steel rebar in concrete and pipes running underground for instance. </p>
          </li>
          <li>
            <p>Make sure you are not near power lines or radio frequency emitters like cell and radio towers. These emissions can interfere with the electronic device performance and/or alterations on magnetic field readings. </p>
          </li>
          <li>
            <p> If you have checked your surroundings and you are confident Solo isn’t close to anything metal, it is possible that the compasses has been demagnetized by a magnet that came too close to Solo. Try performing a compass calibration to check for this possibility. </p>
          </li>
        </ol>

        <p>If a compass calibration didn’t solve the issue and you are still receiving a Magnetic Interference alert, contact tech support. </p>
      </div>
    </div>
  <!-- /faq content ITEM-->

</div>
