<div class="container">

  <!-- ROW ITEM -->
  <a href="/">
    <div class="row faq-item">
      <div class="col-xs-2 col-sm-1">
        <img class="arrow left" src="img/angle-left.svg">
      </div>
      <div class="col-xs-10 col-md-11"> <p>Magnetic Interference?</p></div>
    </div>
  </a>
  <!-- /ROW ITEM-->

  <!-- faq content ITEM -->
    <div class="row faq-content">
      <div class="col-sm-11 col-sm-offset-1">
        <p>Why awesome Why awesome Why awesome Why awesome Why awesome Why awesome Why awesome Why awesome ?</p>
        <a href="#">Link</a>
      </div>
    </div>
  <!-- /faq content ITEM-->

</div>
