<div class="container">
  <h1>Why isn’t video streaming to my mobile device?</h1>
  <!-- faq content ITEM -->
    <div class="row faq-content">
      <div class="col-sm-12">
        <p>When your GoPro® is plugged into Solo, you’re able to view live video being streamed from your GoPro® to the Solo App. This video relay from Solo to your smart device happens nearly instantaneously, giving you a valuable perspective for capturing your world from above. If you are having trouble viewing video on the Solo App using your GoPro®’s live stream, follow these steps to troubleshoot the connection. </p>
        <h3>To troubleshoot your video connection:</h3>

        <ol>
          <li>
            Check that your system is up to date.
            <p>Improvements are constantly being made to the Solo platform, so it is important to make sure you are running the latest software. Follow <a href="http://3drobotics.com/kb/first-flight-update/">this update procedure</a> to make sure your system is up to date.</p>
          </li>
          <li>
            Double check your GoPro® is powered on.
          </li>
          <li>
            Check that the HDMI cord from Solo is properly plugged into your GoPro®.
            <p>Even though it can feel like the HDMI cord is plugged into your GoPro® all the way, sometimes it still isn’t. One way to test to this is to remove your GoPro® from The Frame and plug the HDMI cord directly into the GoPro®, as sometimes The Frame can get in the way of the cable.</p>
            <p>Also, be aware that GoPro® cameras have two connection ports. Make sure you are plugging into the HDMI port and not the USB port.</p>
          </li>
          <li>
            Force quit and reopen the Solo App.
            <p>For iOS devices, you force quit applications by double tapping the Home button and swiping up and away on the App.</p>
          </li>
          <li>
            Confirm that your app is the only one connected to Solo.
            <p>Multiple apps can view Solo’s telemetry data, but only one can view video at a time (whichever app was connected first).</p>
          </li>
          <li>
            Restart your GoPro®.
            <p>Hold the power button on the front until you see it turn off. Press the power button again to turn it on.</p>
          </li>
          <li>
            Reboot the Solo and the Controller.
          </li>
          <li>
            Verify that Solo, the Controller, and the 3DR Solo app are all connected.
            <p>You can verify this by checking System Info in the App’s Settings menu. If the version numbers are displayed for both Solo and the Controller, then everything is connected. If not, <a href="http://3drobotics.com/submit-ticket/">submit a ticket here</a>.</p>
          </li>
          <li>
            Verify that your GoPro®’s selected video format is NTSC, and not PAL.
            <img style=" max-width: 600px;display: block;" src="../img/gopro/NTSC_gopro_hero3.png">
          </li>
          <li>
            Adjust your GoPro’s video settings.
            <p>We recommend using a 1080/30fps, medium field of view. Cycling back and forth between settings can sometimes also wake up the system (1080 to 720, back to 1080 for instance). </p>
          </li>
          <li>
            Visually inspect your GoPro® and HDMI cable for damage.
          </li>
          <li>
            Try a different GoPro®  .
            <p>If the GoPro® works, then we can safely assume your other camera is causing the issue. If not, further Solo troubleshooting is called for. Alternatively, if no other GoPro®  is available, try outputting video to another monitor or TV from the GoPro® in question to see if that works. </p>
          </li>
        </ol>
      </div>
    </div>
  <!-- /faq content ITEM-->

</div>
