<div class="container">

  <!-- ROW ITEM -->
    <div class="row faq-item">
      <div class="col-xs-2 col-sm-1">
        <a href="/">
          <img class="arrow left" src="img/angle-left.svg">
        </a>
      </div>
      <div class="col-xs-10 col-md-11"> <p class="li-title">No Video?</p></div>
    </div>
  <!-- /ROW ITEM-->

  <!-- faq content ITEM -->
    <div class="row faq-content">
      <div class="col-sm-11 col-sm-offset-1">
        <p>With Solo, you’re able to view live footage streaming from your GoPro® via the Solo App. This video relay from Solo to your smart device happens nearly instantaneously, giving you a valuable perspective for capturing your world from above. If you are having trouble viewing video on the Solo App using your GoPro®’s live stream, follow these steps to troubleshoot the connection.</p>
        <p class="li-title">To troubleshoot your video connection:</p>
        <ol>
          <li>
            <p class="li-title">Check that your system is up to date.</p>
            <p>Improvements are constantly being made to the Solo platform, so it is important to make sure you are running the latest software. Follow this update procedure to make sure your system is up to date.</p>
          </li>
          <li>
            <p class="li-title"> Double check your GoPro® is powered on.</p>
          </li>
          <li>
            <p class="li-title">Check that the HDMI cord from Solo is properly plugged into your GoPro®.</p>
            <p>Even though it can feel like the HDMI cord is plugged into your GoPro® all the way, sometimes it still isn’t. One way to test to this is to remove your GoPro® from The Frame and plug the HDMI cord directly into the GoPro®, as sometimes The Frame can get in the way of the cable. </p>
            <p>Also, be aware that GoPro® cameras have two connection ports. Make sure you are plugging into the HDMI port and not the USB port.</p>
          </li>
          <li>
            <p class="li-title">Force quit and reopen the Solo App.</p>
            <p>For iOS devices, you force quit applications by double tapping the Home button and swiping up and away on the App.</p>
            <p>For Android devices, this process can vary. On some devices all you need to do is simply press the square button, while other Android devices require holding the Home button to show your open apps and then swiping the application away from the list.</p>
          </li>
          <li>
            <p class="li-title">Confirm that your app is the only one connected to Solo.</p>
            <p> Multiple apps can view Solo’s telemetry data, but only one can view video at a time.</p>
          </li>
          <li>
            <p class="li-title">Restart your GoPro®.</p>
            <p>Hold the power button on the front until you see it turn off. Press the power button again to turn it on.</p>
          </li>
          <li>
            <p class="li-title">Reboot the Solo vehicle.</p>
          </li>
          <li>
            <p class="li-title">Reboot the Controller</p>
          </li>
          <li>
            <p class="li-title">Verify that Solo, the Controller, and the 3DR Solo app are all connected.</p>
            <p>You can verify this by checking System Info in the App’s Settings menu. If the version numbers are displayed for both Solo and the Controller, then everything is connected. If not, submit a ticket here.</p>
          </li>
          <li>
            <p class="li-title">Verify that your GoPro®’s selected video format is NTSC, and not PAL.</p>
            <p>See this video to learn how to check and adjust this setting.</p>
          </li>
          <li>
            <p class="li-title">Adjust your GoPro’s video settings.</p>
            <p>We recommend using a 1080/30fps, medium field of view.</p>
          </li>
          <li>
            <p class="li-title">Visually inspect your GoPro® and HDMI cable for damage.</p>
          </li>
          <li>
            <p class="li-title">Try a different camera.</p>
            <p>If the new camera works, then we can safely assume your other camera is causing the issue. If not, further Solo troubleshooting is called for.</p>
          </li>
      </div>
    </div>
  <!-- /faq content ITEM-->

</div>
