<div class="container">
  <h1>How can I optimize Solo’s communication range?</h1>
  <!-- faq content ITEM -->
    <div class="row faq-content">
      <div class="col-sm-12">
        <p>Solo and the Controller communicate via a long-range WiFi network, delivering HD video with low latency at distances of up to half a mile. However, performance can vary depending on your environment. In a obstacle-free and open environment, free from other WiFi signals, Solo can accomplish distances even greater than half a mile. But in urban environments full of obstacles and conflicting WiFi networks, Solo’s ability to communicate as far will be limited.</p>
        <p><strong>Remember:</strong> As long as you attained GPS lock before taking off, Solo will automatically Return Home if the communication line is broken. However, it is also important to remember to keep a clear line of sight between you and Solo since Solo takes the most direct route home and will not avoid obstacles on its own. </p>

        <h3>To troubleshoot for range:</h3>

        <ol>
          <li>
            <p> To get a clear idea of Solo’s range capabilities, fly in an area free of WiFi networks and obvious transmission devices, like cell towers and dish antennas. </p>
          </li>
          <li>
            <p>Make sure you are maintaining a clear line of sight with Solo. Flying behind buildings and other tall objects can block communication signals and limit your range. </p>
          </li>
          <li>
            <p>Antenna configuration can also sometimes help communication range. Position the antennas down and away from the controller so they are approximately perpendicular with Solo in flight, and tilt each antenna out and away from one another at a 20° angle. </p>
          </li>
        </ol>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../img/range-photos/antenna_signal.png">
      </div>
      <div class="col-md-6">
        <img style="max-width: 300px;" src="../img/range-photos/antenna_position.png">
      </div>
    </div>
  <!-- /faq content ITEM-->

</div>
