<div class="container">
  <h1>Why am I having trouble getting a GPS connection?</h1>
  <!-- faq content ITEM -->
  <div class="row faq-content">
    <div class="col-sm-12">
      <p>In Fly:Mode, Solo communicates with satellites to utilize powerful GPS functionality. When you have achieved a solid GPS connection autonomous flight features like position holding, Return Home, and Smart Shots are all made possible. Follow the steps below if Solo is taking an unusually long time (over 5 minutes) to get acquire a GPS connection. </p>
      <p>Follow the steps below if Solo is taking an unusually long time (over 5 minutes) to get acquire a GPS connection. </p>

      <h3>To troubleshoot your GPS connection:</h3>
      <ol>
        <li>
          <p>It extremely important that Solo and the Controller have clear views of the sky. This is the top reason for GPS connectivity issues. Without a direct line of sight to the sky it is impossible for Solo to talk with the satellites.</p>
        </li>
        <li>
          <p>Start in an open field away from tall objects like trees and buildings that could interfere with satellite communications. An open field will give you and Solo the most sky area to work with to attain GPS.</p>
        </li>
        <li>
          <p>It can take up to 5 minutes for Solo to register a GPS connection. If you still haven’t registered a GPS connection after 5 minutes, try turning off your GoPro and rebooting Solo (not the Controller or the App, just Solo).</p>
        </li>
        <li>
          <p>Make sure the Wi-Fi is turned off on your GoPro. These signals can interfere with the GPS connection. </p>
        </li>
        <li>
          <p>As a very last resort, a compass calibration might help. Only try performing this calibration once though, as any more compass calibrations won’t make any difference. </p>
        </li>
      </ol>

      <h3>Determining the status of your GPS connection:</h3>
      <p>At the top left of the controller screen there is a GPS icon displaying the number of quality satellites Solo is in communication with. The color of the icon indicates whether GPS lock has been achieved, red signaling no and white as yes. Typically, to achieve a quality GPS connection, 7 or more satellites are needed. This satellite number isn’t the only factor contributing to a quality GPS connection, but being in an open area will help all these different contributors. </p>

      <h3>Things not to do:</h3>
      <ul>
        <li>
          <p>Factory Reset</p>
        </li>
        <li>
          <p>Wait longer than 10 minutes </p>
        </li>
      </ul>

    </div>
  </div>
  <!-- /faq content ITEM-->

</div>
