<div class="container">

  <!-- ROW ITEM -->
  <div class="row faq-item">
    <div class="col-xs-2 col-sm-1">
      <a href="/">
        <img class="arrow left" src="img/angle-left.svg">
      </a>
    </div>
    <div class="col-xs-10 col-md-11"> <p>Why awesome?</p></div>
  </div>
  <!-- /ROW ITEM-->

  <!-- faq content ITEM -->
  <div class="row faq-content">
    <div class="col-xs-offset-2 col-xs-10 col-sm-11 col-sm-offset-1">
      <p>Why awesome Why awesome Why awesome Why awesome Why awesome Why awesome Why awesome Why awesome ?</p>
      <a href="#">Link</a>
    </div>
  </div>
  <!-- /faq content ITEM-->

</div>
